h1 {
  text-align: center;
}


#potato {
  position: relative;
  width: 367px;
  height: 500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#potato img {
  position: absolute;
}

/* Insert CSS for body below this line*/
#body { 
  top: 28px; left: 68px; 
}
/* Insert CSS for arms below this line*/
#arms_image{
top: 160px;
left:23px;
}



/* Insert CSS for ears below this line*/
#ears_image{
  top: 100px;
  right: 51px;
}



/* Insert CSS for eyes below this line*/




/* Insert CSS for mouth below this line*/

#mouth_image {
  bottom: 195px; right:135px;
  
}


/* Insert CSS for nose below this line*/




/* Insert CSS for eyebrows below this line*/
#eyebrows_image{
  top:35px;
  left:100px;
}



/* Insert CSS for glasses below this line*/




/* Insert CSS for hat below this line*/
#hat_image {
  top: 6px; left: 102px;
}



/* Insert CSS for arms below this line*/




/* Insert CSS for moustache below this line*/
#moustache_image { 

  width: 100px;
  height: 50px;
  top: 100px;
  right: 130px;

}



/* Insert CSS for shoes below this line*/

#shoes_image{
  top:298px;
  right:63px;
}



/* Insert CSS for cane below this line*/




/* Insert CSS for earrings below this line*/




/* Insert CSS for arms below this line*/




/* Insert CSS for hatflower below this line*/




/* Insert CSS for boosters below this line*/



